/* здесь используйте глобальные переменные */
$main-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
$main-font-size: 14px;
$main-line-heigth: 18px;
$main-text-color: #000000;
$secondary-text-color: #444444;
$decorative-text-color: #111111;
$additional-text-color: #222222;
$contrast-text-color: #ffffff;
$main-background-color: #ffffff;
$contrast-background-color: #68b738;
