// .advantages {

// }

.advantages__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  list-style: none;
}

// .advantages__item {

// }

.advantages__description {
  color: $secondary-text-color;
}
