.button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $contrast-text-color;
  text-transform: uppercase;
  background-color: $contrast-background-color;
  border-style: none;
}
