// .card {

// }

// .card__link-image {

// }

.card__link-title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $additional-text-color;
  text-transform: uppercase;
}

// .card__title {

// }

// .card__content {

// }

.card__info {
  font-family: $main-font;
  font-size: 12px;
  line-height: 16px;
  color: $secondary-text-color;
}

.card__data {
  font-family: $main-font;
  font-size: 12px;
  line-height: 16px;
  color: $secondary-text-color;
}

// .card__button {

// }
