// .contacts {

// }

.contacts__subtitle {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $decorative-text-color;
  text-transform: uppercase;
}

.contacts__address {
  font-family: $main-font;
  font-size: $main-font-size;
  line-height: 20px;
  color: $secondary-text-color;
}

// .contacts__map-image {

// }
