// .hero {

// }

.hero__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
}

.hero__slogan {
  font-family: $secondary-font;
  font-size: $main-font-size;
  line-height: 14px;
  text-transform: uppercase;
}

// .hero__image {

// }

.hero__button {
  text-decoration: none;
}
