// .main-footer {

// }

// .main-footer__logo {

// }

.main-footer__social-list {
  list-style: none;
}

// .main-footer__social-item {

// }

// .main-footer__social-link {

// }

.main-footer__copyright-link {
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  color: $secondary-text-color;
  text-decoration: none;
}
