// .main-nav {

// }

// .main-nav__toogle {

// }

.main-nav__list {
  list-style: none;
}

// .main-nav__item {

// }

.main-nav__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: $main-text-color;
  text-transform: uppercase;
  text-decoration: none;
}

// .main-nav__link--current {

// }
