.main-footer {
  background-color: $second-background-color;
}

.main-footer__wrapper {
  padding: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 110px;
  }
}

.main-footer__logo {
  justify-content: center;
  padding: 20px 0;
  color: $main-text-color;

  @media (min-width: $tablet-width) {
    padding: 0;
    height: 37px;
  }
}

.main-footer__social {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    max-width: 250px;
  }
}

.main-footer__copyright {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
