.partnership {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    padding: 61px 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 565px;
    z-index: 3;
    margin: 95px 110px 0;
    padding: 60px 79px;
    background-color: $main-background-color;
  }
}

.partnership__title {
  flex-basis: 165px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: $secondary-font;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.partnership__address {
  flex-basis: 165px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
