.promotion-gift {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  margin-top: 35px;
  padding: 60px 15px 40px;
  text-align: center;
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(
      url("../../images/gift-mobile@1x.jpg") type("image/jpeg") 1x,
      url("../../images/gift-mobile@2x.jpg") type("image/jpeg") 2x,
      url("../../images/gift-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/gift-mobile@2x.webp")  type("image/webp") 2x
    );
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    margin-top: 70px;
    padding: 57px 125px 60px 77px;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(
        url("../../images/gift-tablet@1x.jpg") type("image/jpeg") 1x,
        url("../../images/gift-tablet@2x.jpg") type("image/jpeg") 2x,
        url("../../images/gift-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/gift-tablet@2x.webp")  type("image/webp") 2x
      );
  }

  @media (min-width: $desktop-width) {
    padding: 56px 42px 43px;
    justify-content: center;
    margin-top: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(
        url("../../images/gift-desktop@1x.jpg") type("image/jpeg") 1x,
        url("../../images/gift-desktop@2x.jpg") type("image/jpeg") 2x,
        url("../../images/gift-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/gift-desktop@2x.webp")  type("image/webp") 2x
      );
  }
}

.promotion-gift__text {
  font-family: $main-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $contrast-text-color;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-left: auto;
    grid-column: 6 / -1;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-top: auto;
    grid-column: 1 / -1;
  }
}

.promotion-gift__svg {
  display: block;
  width: 78px;
  height: 80px;
  margin: 0 auto;
  background-image: url("../../icons/icon-gift.svg");

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    place-self: start center;
    width: 80px;
    height: 82px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @media (min-width: $desktop-width) {
    top: 56px;
    left: 0;
    right: 0;
    grid-column: 1 / -1;
  }
}

.promotion-gift__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
