.section-title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-family: $secondary-font;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }
}
