.section-subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }
}
