.site-list {
  font-family: $secondary-font;
  color: $main-text-color;
  z-index: 100;
  background-color: #ffffff;


  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: auto;
    gap: 15px 33px;
    background-color: transparent;
  }
}

.site-list--opened {
  width: 100%;
  position: absolute;
  top: 65px;
  left: 0;

  @media (min-width: $tablet-width) {
    position: static;
    width: fit-content;
  }
}

.site-list__item {
  position: relative;
  height: 66px;

  @media (min-width: $tablet-width) {
    height: 50px;
  }
}

.site-list__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.site-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: $main-text-color;
  text-transform: uppercase;
}

@media (min-width: $desktop-width) {
  .site-list--index .site-list__link {
    color: $contrast-text-color;
  }

  .site-list--index .site-list__link:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  .site-list--index .site-list__link:focus {
    color: rgba(255, 255, 255, 0.6);
  }
}

.site-list--index .site-list__link:hover::after {
  background-color: rgba(255, 255, 255, 0.8);
}

.site-list--index .site-list__link:focus::after {
  background-color: rgba(255, 255, 255, 0.6);
}


@media (min-width: $tablet-width) {
  .site-list__link--current {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      height: 2px;
      bottom: 2px;
      left: 0;
      right: 0;
      background-color: $basic-color;
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    .site-list--index .site-list__link--current {
      &::after {
        background-color: $main-background-color;
      }
    }
  }
}

.site-list__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-list__link:hover::after {
  background-color: rgba(104, 183, 56, 0.3);
}

.site-list__link:focus {
  color: rgba(0, 0, 0, 0.3);
}
