.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 30px;
  margin: 0;
  font-family: $secondary-font;

  @media (min-width: $tablet-width) {
    grid-template-columns: 162px 162px auto;
    gap: 43px;
  }

  @media (min-width: 880px) and (max-width: 1439px) {
    column-gap: 100px;
    align-self: center;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 162px 162px;
    gap: 61px 42px;
  }
}

.stats__item-wrapper {
  position: relative;
  padding: 15px 0 9px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 15px 0 20px;
  }
}

.stats__description {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  font-family: $main-font;
  font-size: 12px;
  line-height: 12px;
  color: $second-text-color;
  text-transform: lowercase;
  background-color: $second-background-color;
  transform: translateX(-50%);

  @media (min-width: 415px) {
    width: 0 auto;
    font-size: 14px;
    bottom: -6px;
    line-height: 14px;
    padding-left: 7px;
    padding-right: 7px;
    white-space: nowrap;
  }

  @media (min-width: $tablet-width) {
    background-color: $main-background-color;
  }

  @media (min-width: $desktop-width) {
    background-color: $second-background-color;
  }
}

.stats__term {
  margin: 0;
  padding-bottom: 8px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 32px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 2px;
  }
}

.stats__item-wrapper-row {
  display: flex;
  gap: 5px;
  grid-column: 1 / -1;
  justify-content: center;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 9px;
    grid-column: 3 / -1;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    grid-column: 1 / -1;
    justify-content: flex-start;
    gap: 63px;
  }
}

.stats__term-row {
  margin: 0;
  order: 1;

  @media (min-width: $tablet-width) {
    text-align: end;
  }
}

.stats__description-row {
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: end;
  }
}
